<div class="container">
  <div>
    <h2 class="title" *ngIf="title">{{title | uppercase}}</h2>
  </div>
  <table class="table table-striped custom-table">
    <thead>
      <tr>
        <th scope="col" *ngFor="let header of headers">{{ header }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let element of data">
        <td *ngFor="let property of element | keyvalue: originalOrder; let i =index" [attr.data-th]="headers[i]" >
          {{ property.value }}
        </td>
      </tr>
      <tr class="footer" *ngIf="footer">
          <td [attr.colspan]="headers.length">{{footer | uppercase}}</td>
      </tr>
    </tbody>
  </table>
</div>
